mat-card {
  background-color: #22262d;
  border-radius: 10px;
  min-width: 600px;
  max-width: 700px;
  min-height: 400px;
  margin: 50px auto;
  overflow: hidden;
  padding: 20px 25px;
}

h1 {
  color: white;
}

.modal-heading h1 {
  font-size: xx-large;
}
.modal-subheading h1 {
  font-size: large;
}

main {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 0px;
  justify-content: center;
  height: 100%;
  padding: 30px;
}

app-square {
  border: 1px gray solid;
}
