mat-card {
  background-color: #22262d;
  border-radius: 10px;
  min-width: 600px;
  min-height: 400px;
  margin: 100px;
  overflow: hidden;
}

mat-card h1 {
  color: white;
}

.modal-heading {
  margin: 20px 25px;
  // padding: 30px;
}
.modal-heading h2 {
  color: red;
}

main {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 0px;
  justify-content: center;
  height: 100%;
  padding: 30px;
}

app-square {
  border: 1px gray solid;
}
